header {
    background: url(./images/bg-header-desktop.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50rem;
}

p {
    color: #b6b7b9;
}

body {
    font-family: 'Bai Jamjuree', 'Cuprum', sans-serif;
    font-size: 25px;
}

.isihead {
    text-align: center;
    width: 40%;
    padding-top: 2rem;
}

.tombol button{
    font-family: 'Bai Jamjuree', 'Cuprum', sans-serif;
    font-size: 15px;
    padding: 12px 30px;
    background: transparent;
    margin: 2rem 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
}

.tombol button.ios {
    background-color: hsl(171, 66%, 44%);
    box-shadow: 2px 2px 2px hsl(171, 66%, 44%);
}

.tombol button.mac {
    background-color: hsl(233, 100%, 69%);
    box-shadow: 2px 2px 2px hsl(233, 100%, 69%);
}

.container-1 {
    text-align: center;
    width: 50%;
    margin: auto auto 5rem auto;

    justify-content: center;
}

.comp {
    height: 60%;
    width: 40%;
}

.container-2 {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.subcont-2 {
    text-align: left;
    margin: auto 10rem auto 10rem;
    width: 50%;
    max-width: 35rem;
}

.container-3 {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.comphp {
    height: 50%;
    width: 50%;
}

.container-3 div {
    margin: 5rem 0;
}

.container-4 {
    text-align: center;
    justify-content: center;
}

.subcont-4 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.subcont-4 div {
    width: 25%;
    margin: 0 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.subcont-5 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto 5rem;

}

.subcont-5b {
    text-align: center;
    justify-content: center;
    width: 50%;
    margin: 7rem auto 7rem auto;
}

.tombol-2 button{
    padding: 8px 25px;
    background: transparent;
    margin: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

footer .subfoot{
    background-color: #f5f6f8;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 15rem;
}


.ckecil {
    width: 70px;
    height: 70px;
    margin: 2rem 15rem;

}

.list {
    margin: auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    height: 8rem;
    align-items: center;
    justify-content: left;

}

a {
    color: hsl(210, 10%, 33%);
    text-decoration: none;
    text-align: center;
    margin: 2rem 10rem;
}

a:hover {
    color: #2abda5;
}

.facebook {
    margin: 2rem 2rem;
    width: 30px;
    height: 30px;
}

.twitter {
    margin: 2rem 0;
    width: 30px;
    height: 30px;
}

.ig {
    margin: 2rem 2rem;
    width: 30px;
    height: 30px;
}

@media (max-width: 1000px) {
    header {
        background: url(./images/bg-header-desktop.png);
        background-size: cover;
        padding: 2.5rem 0.5rem;
    }

    .isihead {
        width: 100%;
    }

    .container-1 {
        width: 80%;
    }

    .container-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .subcont-2 {
        width: 80%;
        text-align: center;
        margin: 3rem 15% auto;
    }

    .container-3 div {
        width: 80%;
    }

    .subcont-4 {
        display: flex;
        flex-direction: column;
    }

    .subcont-5 {
        display: grid;
        grid-gap: 4rem;
        justify-content: center;
        align-items: center;
    }


    footer .subfoot {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: fit-content;
    }

    .list {
        display: grid;
        margin: 2rem 0;
    }

}